{% extends 'main/base.html' %}
{% load static %}
{% block title %}
    Вход
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <img src="{% static 'logo.svg' %}"
             style="width: 25%; margin-top: 5rem; display: block; margin-left: auto; margin-right: auto; opacity: 85%">
        <div class="col">
            <div class="card"
                 style="margin: 5% auto 5%; max-width: 30rem">
                <form action="{% url 'login' %}" class="card-body" method="post">
                    {% if form.errors %}
                        <div class="alert alert-danger">
                            <p><b>Неверный логин или пароль</b></p>
                            <span><i>Логин и пароль чувствительны к регистру, убедитесь что выключен CapsLock</i></span>
                        </div>
                    {% endif %}
                    <h4 class="h4 mb-2 fw-normal" style="font-family: Activist;">Пожалуйста, войдите</h4>
                    
                    <div class="form-floating mb-2">
                        {{ form.username }}
                        <label for="floatingInput" style="font-family: BrutalType;">Логин</label>
                    </div>
                    <div class="form-floating mb-4">
                        {{ form.password }}
                        <label for="floatingPassword" style="font-family: BrutalType;">Пароль</label>
                    </div>
                    <button class="w-100 btn btn-lg btn-dark" style="font-family: Activist;" type="submit">Войти
                    </button>
                    {% csrf_token %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}